/* COMMONS */
.ms_a_reset {
    color: inherit;
    text-decoration: none;
}

img {
    width: 100%;
}

ul {
    list-style-type: none;
}

.ms_star_decoration {
    margin: 1rem 0;
    height: 3rem;
    line-height: 3rem;
    font-size: 1.5rem;
}

h1 {
    font-size: 3rem;
}

/* header */
header {
    background-color: #2c3e50;
    color: white;
    height: 5rem;
    line-height: 5rem;
}

header h2 {
    line-height: 5rem;
}

header li {
    font-size: 1.5rem;
}

header i {
    font-size: 1.5rem;
}

/* main */

/* START BOOTSTRAP */
#start_bootstrap {
    padding: 2rem 0;
    background-color: #1abc9c;
    color: white;
}

#start_bootstrap img {
    width: 20rem;
    margin-bottom: 1rem;
}

/* PORTFOLIO */
#portfolio {
    padding: 2rem 0;
}

#portfolio img {
    border-radius: 1rem;
}

#portfolio h2 {
    font-size: 3rem;
}

/* ABOUT */
#about {
    padding: 2rem 0;
    background-color: #1abc9c;
    color: white;
}

#about h2 {
    font-size: 3rem;
}

.ms_btn {
    border: 1px solid white;
    font-size: 1.25rem;
}


/* footer */
footer {
    color: white;
}

/* footer top */
.ms_footer_top {
    padding: 2rem 0;
    background-color: #3a546d;
}

footer h4 {
    margin: 1rem 0;
}

footer li a {
    display: inline-block;
    font-size: 1.5rem;
    height: 3.5rem;
    width: 3.5rem;
    line-height: 3.5rem;
    border-radius: 50%;
    border: 2px solid white;
    text-align: center;
    margin: 0 0.5rem;
}

footer p a {
    color: #1abc9c;
}

/* footer bot */
.ms_footer_bot {
    background-color: #2c3e50;
    padding: 2rem 0;
}
